@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;800&family=Rubik:wght@300;400;500;800&display=swap');

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

html {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    font-size: 16px;
} 

body {
    
    color: #141414;
    background-color: rgb(238, 238, 238);
    /* materialize sticky footer style */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

 /* materialize sticky footer style */
main {
    flex: 1 0 auto;
  }

/* colors */

.black-bg {
    background-color: #141414;
}

.grey-bg {
    background-color: #c2c2c2;
}

.grey-text {
    color: #c2c2c2;
}

.orange-bg {
    background-color: #E25F12;
}

.orange-text {
    color: #E25F12;
}

.turquoise-bg {
    background-color: #3acabb;
}

.turquoise-text {
    color: #3acabb;
}

.green-bg {
    background-color: #aedc41;
}

.green-text {
    color: #aedc41;
}

.yellow-bg {
    background-color: #f5d329;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(20, 20, 20, 0.5);
}

/* headings */

.header-text {
    font-family: "Inknut Antiqua", sans-serif;
}

.heading-sidenav {
    margin: 0;
    padding: 0.5em;
}

.heading-full-recipe {
    margin-top: 2em;    
}

.heading-full-recipe h3 {
    margin: 1.5rem;
}

.heading-full-recipe,
.full-recipe {
    border: 2px solid #000000;
} 

.logo img {
    padding: 5px 10px;
}

/* buttons */

.btn-center {
    margin: 0 auto;
}

.btn-bottom {
    position: absolute;
    bottom: 0;
    right: 30px;
}

.btn-font {
    font-family: "Inknut Antiqua", sans-serif;
}

.btn-search {
    margin: 5px;
}

#btn-back {
    margin: 1rem;
}

.orange-bg.btn:hover,
.orange-bg.btn-large:hover, 
.orange-bg.btn-small:hover {
    background-color: #3acabb;
}

.turquoise-bg.btn:hover,
.turquoise-bg.btn-large:hover, 
.turquoise-bg.btn-small:hover {
    background-color: #2ea196;
}

.home-screen {
    border: 1px solid #141414;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 80%;
    margin-left: 10%;
    padding: 20px 0 40px;
}

.hero-img {
    max-width: 100%;
}

.flashes {
    margin-top: 1rem;
    padding: 5px;
    line-height: 1.5;
    width: 50%;
    border-radius: 5px;
}

li > a.big-text {
    font-size: 1.5em;
}

.welcome-content {
    padding: 0.8em;
}

.welcome-text {
    font-size: 1.1em;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin: .2em;
}

.welcome-text:first-of-type {
    margin-top: 2em;
}

/* recipe cards */

.card {
    font-size: 1.2em;
}

.card .card-image img {
    height: 280px;
}

.card .card-content {
    height: 170px;
}

.full-recipe,
.add-recipe {
    position: relative;
    border-top: none;
}

.full-recipe,
.recipe-key a {
    margin-bottom: 1.5em;
}

.add-recipe:first-child,
.recipe-key:first-of-type {
    margin-top: 2em;
} 

.recipe-method {
    counter-reset: step;
    
}

.recipe-method li::before {
    font-weight: 500;
    counter-increment: step;
    content: "Step " counter(step) ": ";
}

.recipe-method li,
.ingredient li {
    margin-left: 1em;
}

.recipe-key {
    margin: 0.5rem;
}

.recipe-key > a,
.cta-btn > a,
.cta-btn > button {
    margin: 2px;
    margin-right: 2em;
}

/* footer */

.footer-copyright li {
    display: inline;
    font-size: 1.5em;
}

.footer-copyright li a {
    margin-right: 1.2em;

}

.footer-nav {
    height: 200px;
    position: relative;
}


.footer-nav ul {
    font-size: 1.2em;
    width: 100%;
    margin: auto;
    margin-top: 2em;
    line-height: 2em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .btn-large {
    height: 45px;
    line-height: 45px;
    font-size: 0.8em;
    }
    /* remove float left from materialize style */
    .row .col.no-float {
    float: none;
    }

    .card {
        font-size: 1.6em;
    }

        

    .cta-btn > a,
    .cta-btn > button {
        margin-right: 0;
    }

    .footer-nav ul li {
        margin: 5px;
    }

    .footer-text {
        font-size: 1.2em;    
    }
}