@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;800&family=Rubik:wght@300;400;500;800&display=swap');

 * {
    padding: 0;
    margin: 0;
 }

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

/* colors */

.black-bg {
    background-color: #141414;
}

.grey-bg {
    background-color: #c2c2c2;
}

.grey-text {
    color: #c2c2c2;
}

.orange-bg {
    background-color: #E25F12;
}

.orange-text {
    color: #E25F12;
}

.turquoise-bg {
    background-color: #3acabb;
}

.turquoise-text {
    color: #3acabb;
}

.green-bg {
    background-color: #aedc41;
}

.green-text {
    color: #aedc41;
}

.yellow-bg {
    background-color: #f5d329;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(20, 20, 20, 0.5);
}

/* headings */

.header-text {
    font-family: "Inknut Antiqua", sans-serif;
}

.heading-sidenav {
    margin: 0;
    padding: 0.5em;
}

.logo img {
    padding: 5px 10px;
}

/* buttons */

.btn-register {
    margin: 0 auto;
    font-family: "Inknut Antiqua", sans-serif;
}

.home-screen {
    border: 1px solid #141414;
    margin-top: 4rem;
    width: 80%;
    margin-left: 10%;
    padding: 20px 0 40px;
}

.flashes {
    margin-top: 1rem;
    padding: 5px;
    line-height: 2;
    width: 50%;
    border-radius: 5px;
}