<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />
    {% block styles %} {% endblock %}
    <title>Share A Plate</title>
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav class="nav-extended text-shadow orange-bg">
        <div class="nav-wrapper">
          <a href="{{ url_for('home') }}" class="brand-logo logo"
            ><img src="/static/images/logo.png"
          /></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"
            ><i class="fas fa-bars turquoise-text" aria-hidden="true"></i
          ></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
            <li><a href="#">My Recipes</a></li>
            <li><a href="#">Add Recipe</a></li>
            <li><a href="#">Log Out</a></li>
            <li><a href="{{ url_for('log_in') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
          </ul>
        </div>
      </nav>

      <!-- Mobile Nav -->
      <ul class="sidenav orange-bg" id="mobile-demo">
        <li><h4 class="center-align turquoise-text heading-sidenav header-text">Share A Plate</h4></li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
        <li><a href="#">My Recipes</a></li>
        <li><a href="#">Add Recipe</a></li>
        <li><a href="#">Log Out</a></li>
        <li><a href="{{ url_for('log_in') }}">Log In</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
      </ul>
    </header>

    <section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="row flashes orange-bg">
            <h4 class="center-align header-text">{{ message }}</h4>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </section>

    <main class="container">
    {% block content %} 
    {% endblock %}
    </main>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
