<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
      type="text/css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      type="text/css"
    />
    <!-- favicon -->
    <link 
      rel="apple-touch-icon" 
      sizes="180x180" 
      href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link 
      rel="icon" 
      type="image/png" 
      sizes="32x32" 
      href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link 
      rel="icon" 
      type="image/png" 
      sizes="16x16" 
      href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="../static/images/favicon/site.webmanifest">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />
    {% block styles %} {% endblock %}
    <title>Share A Plate</title>
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav class="nav-extended text-shadow orange-bg">
        <div class="nav-wrapper">
          <a href="{{ url_for('home') }}" class="brand-logo logo"
            ><img src="{{ url_for('static', filename='images/logo.png') }}"
          /></a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"
            ><i class="fas fa-bars turquoise-text" aria-hidden="true"></i
          ></a>
          <ul class="right hide-on-med-and-down">
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
            {% if session.user %}
              <li><a href="{{ url_for('my_recipes', username=session['user']) }}">My Recipes</a></li>
              <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
              <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
              <li><a href="{{ url_for('login') }}">Log In</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <!-- Mobile Nav -->
      <ul class="sidenav orange-bg" id="mobile-demo">
        <li><h4 class="center-align turquoise-text heading-sidenav header-text">Share A Plate</h4></li>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('recipes') }}">Recipes</a></li>
          {% if session.user %}
            <li><a href="{{ url_for('my_recipes', username=session['user']) }}">My Recipes</a></li>
            <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
      </ul>
    </header>

    <section>
    <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="row flashes orange-bg">
              <h4 class="center-align header-text text-shadow">{{ message }}</h4>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </section>

    <main class="container">
      {% block content %}
       
      {% endblock %}
    </main>

    <!-- footer -->
    <footer class="page-footer orange-bg">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <a href="{{ url_for('home') }}" class="brand-logo logo">
              <img src="{{ url_for('static', filename='images/logo.png') }}" />
            </a>
            
            <p class="grey-text text-lighten-4">
              Share A Plate is a recipe and cookbook site where you can create your own
              personalised digital cookbooks using recipes from other members and combined with your own ideas. 
              Learn more about what makes us different from other recipe sites and cookbook products here.

              Check out some easy home recipes and get cooking.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <ul>
              <li><a class="grey-text text-lighten-3" href="{{ url_for('home') }}">Home</a></li>
              <li><a class="grey-text text-lighten-3" href="{{ url_for('recipes') }}">Recipes</a></li>
              {% if session.user %}
                <li><a class="grey-text text-lighten-3" href="{{ url_for('my_recipes', username=session['user']) }}">My Recipes</a></li>
                <li><a class="grey-text text-lighten-3" href="{{ url_for('add_recipe') }}">Add Recipes</a></li>
                <li><a class="grey-text text-lighten-3" href="{{ url_for('logout') }}">Log Out</a></li>
              {% else %}
                <li><a class="grey-text text-lighten-3" href="{{ url_for('login') }}">Log In</a></li>
                <li><a class="grey-text text-lighten-3" href="{{ url_for('register') }}">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container right">
          © 2020 Brian Murphy
          <ul class="right">
            <li><a class="grey-text text-lighten-4 left" href="https://www.instagram.com/shareplatemag/?hl=en" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            <li><a class="grey-text text-lighten-4 left" href="https://www.facebook.com/shareplatemag/" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a class="grey-text text-lighten-4 left" href="https://www.youtube.com/channel/UCOMxE9nQ50SOIZs_TcKek4A" target="_blank"><i class="fab fa-youtube-square" aria-hidden="true"></i></a></li>
            <li><a class="grey-text text-lighten-4 left" href="https://www.pinterest.ie/sidchikte/sharing-plate-ideas/" target="_blank"><i class="fab fa-pinterest-square" aria-hidden="true"></i></a></li>
        </ul>
        </div>
      </div>
    </footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
