{% extends "base.html" %} 
  {% block content %}
 
    <!-- add diet admin -->
    <section class="row">
      <div class="col s12 heading-full-recipe orange-bg">
        <h3 class="center-align header-text text-shadow">Add Admin Rights</h3>        
      </div>
      <div class="row">
        <form class="col s12 add-recipe" method="POST" action="{{ url_for('edit_user', user_id=user._id) }}">
          <!-- edit user admin control -->
          <div class="row">
            <div class="input-field col s12">
              <div class="switch center-align">
                <i class="fa fa-user-md prefix turquoise-text" aria-hidden="true"></i>
                  <label for="is_superuser">
                    Off
                    {% if user.is_superuser %}
                      <input type="checkbox" id="is_superuser" name="is_superuser" checked>
                    {% else %}
                      <input type="checkbox" id="is_superuser" name="is_superuser">
                    {% endif %}
                    <span class="lever"></span>
                    On
                  </label>
              </div>
            </div>
          </div>

          <!-- submit/cancel buttons -->
          <div class="row">
            <div class="col s12 center-align cta-btn">
              <button type="submit"
                class="btn btn-large turquoise-bg text-shadow btn-font">Update</button>
              <a href="{{ url_for('admin_page') }}"
                class="btn btn-large red darken-1 text-shadow btn-font">Cancel</a>
            </div>
          </div>  
        </form>
      </div>
    </section> 

  {% endblock %}
