{% extends "base.html" %} 
  {% block content %}
 
    <!-- add diet admin -->
    <section class="row">
      <div class="col s12 heading-full-recipe orange-bg">
        <h3 class="center-align header-text text-shadow">Edit Diet</h3>        
      </div>
      <div class="row">
        <form class="col s12 add-recipe" method="POST" action="{{ url_for('edit_diet', diet_id=diet._id) }}">
          <!-- edit diet admin control -->
          <div class="row">
            <div class="input-field col s12 m8 offset-m2">
              <i class="material-icons prefix turquoise-text">add</i>
              <input placeholder="Name" 
                id="edit_diet" 
                name="edit_diet"
                minlength="3" 
                maxlength="20" 
                type="text" 
                value="{{ diet.diet }}"
                class="validate" 
                required>
              <label for="edit_diet">Diet</label>
            </div>
          </div>

          <!-- submit/cancel buttons -->
          <div class="row">
            <div class="col s12 center-align cta-btn">
              <button type="submit"
                class="btn btn-large turquoise-bg text-shadow btn-font">Update</button>
              <a href="{{ url_for('admin_page') }}"
                class="btn btn-large red darken-1 text-shadow btn-font">Cancel</a>
            </div>
          </div>  
        </form>
      </div>
    </section> 

  {% endblock %}
