{% extends "base.html" %}
{% block content %}

<!-- full recipe card -->
  <section class="row">
    <div class="col s12 heading-full-recipe orange-bg">
      <h3 class="center-align header-text text-shadow">{{ recipe.recipe_name }}</h3>
    </div>
    <div class="row">
      {% for recipe in recipes %}
        <div class="col s12 full-recipe">
          <!-- recipe image -->
          <div class="col s12 l6 right center-align">
            {% if session.user %}  
              <a class="btn-floating right turquoise-bg"><i class="fa fa-heart" aria-hidden="true"></i></a>
            {% endif %}
            <img src="{{ recipe.recipe_img }}" alt="Image of {{ recipe.recipe_name }}" width="400" height="300">
            <div class="col s12 center-align recipe-key">
              {% if session.user %}
                <!-- edit/delete btn -->
                <a class="btn btn-large turquoise-bg text-shadow btn-font"
                  href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit</a>
                <a class="btn btn-large red darken-1 text-shadow btn-fontr" href="#">Delete</a>
              {% endif %}
            </div>  
          </div>
          <div class="row">  
            <!-- recipe data -->
            <div class="col s12 m6">
              <p class="recipe-key"><strong>By: </strong>{{ recipe.username.capitalize() }}</p>
              <p class="recipe-key"><strong>Cooking Time: </strong>{{ recipe.cooking_time }} min</p>
              <p class="recipe-key"><strong>Diet: </strong>{{ recipe.diet.capitalize() }}</p>
              <p class="recipe-key"><strong>Ingredients: </strong>
                <ul class="ingredient">
                  <li>{{ recipe.recipe_ingredients }}</li>
                </ul>
              </p>
              <p class="recipe-key"><strong>Method:</strong>
                <ul class="recipe-method">
                  <li>{{ recipe.recipe_method }}</li>    
                </ul>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="col s12 center-align">
          <button id="btn-back" class="btn btn-large green-bg text-shadow btn-font">
            Back
          </button>
        </div>
      </div>
    </div>
  </section>

{% endblock %}