{% extends "base.html" %} {% block content %}

  <h3 class="center-align header-text text-shadow">Recipes</h3>

  <section class="row card-panel grey lighten-5">
    <form action="{{ url_for('search') }}" method="POST" class="col s12">
      <div class="row center-align">
        <div class="input-field s12">
            <i class="fa fa-search prefix turquoise-text"></i>
            <input type="text" name="query" id="query" size="70%" minlenght="3" class="validate" required>
            <label for="query">Search by Recipe or Ingredient</label>
        </div>  
        <div class="col s8 offset-s2">
            <button type="submit" class="btn btn-search text-shadow turquoise-bg btn-font">Search</button>
            <a href="{{ url_for('recipes') }}" class="red btn btn-search text-shadow btn-font">Cancel</a>
        </div>
      </div>
    </form>
</section>  
    <section class="row">
      {% if recipes|length > 0 %}
        {% for recipe in recipes %}
          <div class="col s12 m6 l4">
            <div class="card orange-bg">
              <div class="card-image">
                {% if session.user %}     
                  <a class="btn-floating right turquoise-bg"><i class="fa fa-heart" aria-hidden="true"></i></a>
                {% endif %} 
                <img src="{{ recipe.recipe_img }}" alt="Image of {{ recipe.recipe_name }}">
                <span class="card-title text-shadow header-text">{{ recipe.recipe_name }}</span>
              </div>
              <div class="card-content">
                <p>{{ recipe.recipe_description }}</p>
              </div>
              <div class="card-action">
                <a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}">Full Recipe</a>
                <span class="right text-shadow">By: {{ recipe.username.capitalize() }}</span>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h4 class="red-text center-align">No Recipes or Ingredients found</h4>
      {% endif %}
    </section>
    
{% endblock %}
