{% extends "base.html" %} {% block content %}

<h3 class="center-align header-text text-shadow">Register</h3>

<div class="row">
  <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
    <div class="card-panel">
      <!-- username -->
      <div class="row">
        <div class="input-field col s12 turquoise-text">
          <i class="fa fa-user-plus prefix" aria-hidden="true"></i>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            minlength="5"
            maxlength="20"
            pattern="^[a-zA-Z0-9]{5,20}$"
            title="Username to be between 5 and 20 characters"
            class="validate"
            required
          />
          <label for="username"></label>
        </div>
      </div>
      <!-- email -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fa fa-envelope prefix turquoise-text" aria-hidden="true"></i>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email Address"
            class="validate"
            required
          />
          <label for="email"></label>
          <div class="row"></div>
        </div>
        <!-- password -->
        <div class="input-field col s12">
          <i class="fa fa-key prefix turquoise-text" aria-hidden="true"></i>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            minlength="5"
            maxlength="15"
            class="validate"
            required
          />
          <label for="password"></label>
        </div>
      </div>
      <!-- password confirm -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fa fa-lock prefix turquoise-text" aria-hidden="true"></i>
          <input
            type="password"
            id="password-confirm"
            name="password-confirm"
            placeholder="Confirm Password"
            minlength="5"
            maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$"
            class="validate"
            required
          />
          <label for="password-confirm"></label>
        </div>
      </div>
      <!-- register -->
      <div class="row">
          <button class="col s4 offset-s4 btn-large center-align btn-register turquoise-bg" type="submit" name="action">
            Register<i class="fa fa-thumbs-up prefix right" aria-hidden="true"></i>
        </button>
    </div>
    </div>
  </form>
</div>

{% endblock %}
